NODE_ENV=development
PORT=3000
HOST=0.0.0.0
MONGODB_URI=mongodb://localhost:27017/swaraj_digital
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
FIREBASE_PROJECT_ID=swaraj-digital
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@swaraj-digital.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY=""
